In [10]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://artifactory.awstrp.net/artifactory/api/pypi/pypi-release/simple/
Collecting scikit-learn
  Downloading https://artifactory.awstrp.net/artifactory/api/pypi/pypi-release/packages/packages/50/79/d21599fc44d2d497ced440480670b6314ebc00308e3bae0d0ebca44cd481/scikit_learn-1.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.5/13.5 MB 22.4 MB/s eta 0:00:0031m22.2 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.19.5 in /home/develop/.local/lib/python3.10/site-packages (from scikit-learn) (2.1.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading https://artifactory.awstrp.net/artifactory/api/pypi/pypi-release/packages/packages/47/78/b0c2c23880dd1e99e938ad49ccfb011ae353758a2dc5ed7ee59baff684c3/scipy-1.14.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (41.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.2/41.2 MB 32.5 MB/s eta 0:00:00m eta 0:00:010:01
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading https://artifactory.awstrp.net/artifactory/api/pypi/pypi-release/packages/packages/91/29/df4b9b42f2be0b623cbd5e2140cafcaa2bef0759a00b7b70104dcfe2fb51/joblib-1.4.2-py3-none-any.whl (301 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading https://artifactory.awstrp.net/artifactory/api/pypi/pypi-release/packages/packages/4b/2c/ffbf7a134b9ab11a67b0cf0726453cedd9c5043a4fe7a35d1cefa9a1bcfb/threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
WARNING: Error parsing dependencies of devscripts: Invalid version: '2.22.1ubuntu1'
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.0 scipy-1.14.1 threadpoolctl-3.5.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [11]:
import pandas as pd

In [12]:
hedge_data = pd.read_csv('extracteddata_202412110957.csv')

In [13]:
fx_rate_data = pd.read_csv('fx_rate.csv')

In [14]:
hedge_data.head()

,Id,TradingDayDate,sodhedgeusd,eoddhedgeusd,intradayforwardsusd,grouphedgeid,exposurecurrency
0,2708,6/6/2024,-37252.91,-1.006704e+07,NaN,59,"""AED"""
1,2709,6/7/2024,-37252.91,-5.228530e+07,NaN,59,"""AED"""
2,2740,6/10/2024,-24955011.87,-1.910836e+06,NaN,59,"""AED"""
3,2773,6/11/2024,-36506.72,-4.040870e+08,NaN,59,"""AED"""
4,2774,6/12/2024,-36506.72,-4.042912e+08,NaN,59,"""AED"""

In [15]:
import pandas as pd

# Sample DataFrame
data = hedge_data['sodhedgeusd']
df = pd.DataFrame(data)

# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['sodhedgeusd'].quantile(0.25)
Q3 = df['sodhedgeusd'].quantile(0.75)

# Calculate IQR
IQR = Q3 - Q1

# Define the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df[(df['sodhedgeusd'] < lower_bound) | (df['sodhedgeusd'] > upper_bound)]

print("Outliers:")
print(outliers)

Outliers:
         sodhedgeusd
2      -2.495501e+07
5      -8.897393e+07
6      -2.289752e+07
8      -6.865281e+07
15      3.305021e+07
...              ...
525883 -2.033266e+07
525892 -9.625452e+06
525893 -3.610285e+07
525894 -3.623309e+07
525895  3.897232e+06

[157566 rows x 1 columns]

In [16]:
len(df)

525921

In [18]:
fx_rate_data.head()

,effectiveDate,fxType,snapCode,rateType,fromCurrencyCode,toCurrencyCode,spotRate
0,2024-09-11,SPOT,LN1500,BID,KRW,USD,0.000747
1,2024-09-11,SPOT,LN1500,BID,KRW,KRW,1.000000
2,2024-09-11,SPOT,LN1500,BID,KMF,USD,0.002239
3,2024-09-11,SPOT,LN1500,BID,KMF,KMF,1.000000
4,2024-09-11,SPOT,LN1500,BID,KGS,USD,0.011876

In [24]:
hedge_data['exposurecurrency'] = [x.replace('"', '') for x in hedge_data['exposurecurrency']]
hedge_data['TradingDayDate'] = pd.to_datetime(hedge_data['TradingDayDate'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

In [33]:
#hedge_data.columns
hedge_data.columns

Index(['Id', 'TradingDayDate', 'sodhedgeusd', 'eoddhedgeusd',
       'intradayforwardsusd', 'grouphedgeid', 'exposurecurrency'],
      dtype='object')

In [35]:
fx_rate_data.columns

Index(['effectiveDate', 'fxType', 'snapCode', 'rateType', 'fromCurrencyCode',
       'toCurrencyCode', 'spotRate'],
      dtype='object')

In [37]:
fx_rate_data = fx_rate_data.rename(columns={'effectiveDate': 'TradingDayDate'})

fx_rate_data = fx_rate_data.rename(columns={'toCurrencyCode': 'toCurrencyCode'})

In [ ]:
merged_df = pd.merge(hedge_data, fx_rate_data, on=['TradingDayDate'], how='inner')

print(merged_df)

In [ ]:
merged_df.head()